user = "solana"

[gossip]
    entrypoints = [
        {{ entrypoints }}
     ]

[consensus]
    identity_path = "/etc/firedancer/identity.json"
    vote_account_path = "/etc/firedancer/vote-account-keypair.json"
    # expected_shred_version = 50093
    # poh_speed_test = false
    # snapshot_fetch = false
    wait_for_vote_to_start_leader = false
    os_network_limits_test = false

    known_validators = [
        {{ known_validators }}
    ]

[rpc]
    port = 8899
    full_api = true
    private = true
    transaction_history = false
    extended_tx_metadata_storage = false

[ledger]
    path = "/mnt/ledger"
    accounts_path = "/mnt/accounts"

[snapshots]
    path = "/mnt/accounts/snapshots"
    minimum_snapshot_download_speed = 52428800 # 50 Mbps (from plantaloons)

[reporting]
    solana_metrics_config = {{ solana_metrics_config }}

[log]
    path = "/mnt/ledger/logs/validator.log"
    colorize = "auto"
    level_logfile = "INFO"
    level_stderr = "NOTICE"
    level_flush = "WARNING"

[tiles]
    [tiles.gui]
        # If the GUI is enabled.
        # Names and icons of peer validators will not be displayed in
        # the GUI unless the program-id index is enabled, which can be
        # done by setting
        # [ledger]
        #   account_indexes = ["program-id"]
        # In your configuration above.

        enabled = true

        # The address to listen on.  By default, if enabled, the GUI
        # will only be accessible from the local machine.  If you wish
        # to expose it to the network, you can change the listen
        # address.
        #
        # The Firedancer team makes a best effort to secure the GUI
        # endpoint but exposing it to the internet from a production
        # validator is not recommended as it increases the attack
        # surface of the validator.
        gui_listen_address = "127.0.0.1"

        # The port to listen on.